footer {
    margin-top: 30px;
}

table td {
    max-width: 320px;
    word-wrap: break-word;
}

th.key {
    width: 20%;
}

#color_thumbnail {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

#form_result table {
    margin-bottom: 0;
}